OCGIFView.xcodeproj/xcuserdata/ochopyk.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
OCGIFView.xcodeproj/xcuserdata/ochopyk.xcuserdatad/xcschemes/OCGIFView.xcscheme
OCGIFView.xcodeproj/xcuserdata/ochopyk.xcuserdatad/xcschemes/xcschememanagement.plist
